@import "tailwindcss";

@theme {
  --color-primary-black: #090909;
  --color-primary-blue: #273fb7;
  --color-primary-gray: #8b8e97;
}

* {
  @apply box-border;
}

body {
  @apply bg-primary-black m-0 p-0;
}

img {
  @apply select-none pointer-events-none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
